body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url(media/SoonBG.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  color: white;

}

.topright {
  position: absolute;
  top: 0;
  right: 30px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-size: 0.8rem;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-weight: bold;
}

hr {
  margin: auto;
  width: 40%;
}/* CSS Document */

